html, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
header{
  height: 100vh;
  width: 100%;
  background: url("images/wallpaperflare.com_wallpaper.jpg") no-repeat;
  background-position: center;

}
header nav{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
}
nav .navbar{
  width: 90%;
  margin: auto auto 20px auto;
  justify-content: space-between;
  display: flex;
align-items: center;
}
nav .navbar .logo{
  height: 250px;
  width: 250px;
}
.navbar .logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: auto ;
}
.navbar .menu{
  display: flex;
  margin: 0 50px 60px 0;
}
.navbar .menu li{
  list-style: none;
  margin:0 10px;
}
.menu li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.menu li a:hover{
  padding: 5px 7px;
  color: #fff; 
  border-radius: 7px;
  border: 2px solid #2c3e50;
  background-color: #16213E;
}
.searchbox {
  position: relative;
  height: 50px;
  width: 230px;
  margin: 0 50px 50px 0;

}
.searchbox input[type='text']{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: none;
  border: 2px solid  #2c3e50;
  border-radius: 8px;
  padding: 0 10px 0 40px;
  color:  #2c3e50;
  font-size: 17px;
}
.searchbox input[type='text']:hover{
  color: #fff;
  background: #2c3e50;
}
.searchbox a img{
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 15px auto auto 10px;
} 
.content{
  position: absolute;
  top: 40%;
  left: 7%;
}
.content .text{
  font-size: 27px;
  color: #fff;
}
.content .name{
  font-size: 75px;
  color: #fff;
  margin: -20px 0 -10px -3px;
}
 
.content .job{
  display: flex;
  color: #fff;
  font-size: 40px;
}
.content .typing{
  color: #fff;
  font-size: 40px;
  margin: 0 0 0 10px;
}
.content .job .typing{
  font-weight: 550;
  color: #16213E;
  animation: typing 6s steps(16) infinite;
 overflow: hidden;
 white-space: nowrap;
 border-right:4px solid #fff ;
}
@keyframes typing {
  0%{
    width: 0ch;
  }
  50%{
    width: 15ch;
  }
  100%{
    width: 0ch;
  }
  
}

.footer{
  position: absolute;
  top: 95%;  
  height: 5vh; 
  text-align: center; 
  justify-content: center;
  justify-items: center;
}
.footer p{
  white-space: nowrap;  
  margin: auto auto auto 300%;
  text-align: center;
  justify-items: center;
  color: #fff;
}



@media screen and (max-width:450px) {
  header{
    height: 100vh;
    width: 100%;
    background: url("images/mobile background.jpg") no-repeat;
    background-position: center;
  
  }
  nav .navbar{ 
    justify-content: center; 
  }
  
}