html, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
}
body{ 
  background: url("images/wallpaperflare.com_wallpaper.jpg") no-repeat;
 
}
header{
  height: 100vh;
  width: 100%;background-position: center;

}
header nav{
  left: 0;
  top:0;
  width: 100%;
}
nav .navbar{
  width: 90%;
  margin: auto auto 20px auto; 
  justify-content: space-between;
  display: flex;
align-items: center;
}
nav .navbar .logo{
  height: 250px;
  width: 250px;
}
.navbar .logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: auto ;
}
.navbar .menu{
  display: flex;
  margin: 0 50px 60px 0;
}
.navbar .menu li{
  list-style: none;
  margin:0 10px;
}
.menu li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.menu li a:hover{
  padding: 7px 9px;
  color: #fff; 
  border-radius: 7px; 
  text-decoration: underline;
  text-decoration-color: #fff;
  border: 1px solid #16213E;
  background-color: #16213E;
}
.searchbox {
  position: relative;
  height: 50px;
  width: 230px;
  margin: 0 50px 50px 0; 
}
.searchbox input[type='text']{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: none;
  border: 2px solid  #2c3e50;
  border-radius: 8px;
  padding: 0 10px 0 40px;
  color:  #2c3e50;
  font-size: 17px;
}
.searchbox input[type='text']:hover{
  color: #fff;
  background: #2c3e50;
}
.searchbox a img{
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 15px auto auto 10px;
} 
.content{
  position: absolute;
  top: 40%;
  left: 7%;
}
.content .text{
  font-size: 27px;
  color: #fff;
}
.content .name{
  font-size: 75px;
  color: #fff;
  margin: -20px 0 -10px -3px;
}
 
.content .job{
  display: flex;
  color: #fff;
  font-size: 40px;
}
.content .typing{
  color: #fff;
  font-size: 40px;
  margin: 0 0 0 10px;
}
.content .job .typing{
  font-weight: 550;
  color: #16213E;
  animation: typing 6s steps(16) infinite;
 overflow: hidden;
 white-space: nowrap;
 border-right:4px solid #fff ;
}
@keyframes typing {
  0%{
    width: 0ch;
  }
  50%{
    width: 15ch;
  }
  100%{
    width: 0ch;
  }
  
} 
.button .btn{ 
  margin-top: 10px;
  margin-left: -10px;
}
.button .btn a{ 
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 7px 9px;
  border-radius: 5px;
} 
.button .btn1 a{
  background: #16213E;
  border: 1px solid #16213E;
  padding: 8px 9px;
}
.button .btn1 a:hover{
  background: transparent;
  border: 1px solid #fff;
 }
  
.button .btn2 a:hover{
  border: 1px solid #16213E;
  background: #16213E;
}

footer .textt{
  position: absolute;
  top: 95%;  
  height: 5vh;   
  margin: 0 0 0 700px;
}
footer p{
  white-space: nowrap;    
  color: #fff;
}
footer p:hover{
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}


@media (min-width : 760px) and (max-width:1000px){
  nav .navbar{ 
    justify-content: center;
  }
  .content{
    top: 60%; 
  } 
  footer .textt{   
    margin: 60px 0;
    margin: 0 0 0 320px;
  }
}

@media (min-width:400px) and (max-width : 760px){
  nav .navbar{ 
    justify-content: center;
  }
  .content{
    top: 60%; 
  }  
  footer .textt{   
    position: static;
    margin: 0 0 0 150px;
  }
 header nav{
  position: static;
 }
 .content .text{
  font-size: 15px;
 }
 .content .name{
  font-size: 40px;
  margin-top:20px ;
  margin-bottom: 5px;
 }
 .content .job{
  font-size: 25px;
 }
 .content .job .typing{
  font-weight: 550;    
  font-size: 30px;
} 
.menu li a{
  font-size: 15px;
}
.navbar .searchbox{
  width: 150px;
  height: 30px; 
}
.searchbox a{
  width: 50px;
  height: 50px;
}
.searchbox a img{
  width: 15px;
  height: 15px;   
  bottom: 6px;
}
.searchbox { 
  bottom: 30px; }
}
.development{
  font-size: 25px; 
  color: #fff;
  padding-bottom: 10%;  
}
.development .head{
  display: flex;
}
.development .head .dots{ 
  animation: typings 2s steps(15) infinite;   
  overflow: hidden;
  white-space: nowrap;
}
@keyframes typings{
  0%{
    width: 0ch;
  }
  50%{
    width: 17ch;
  }
  100%{
    width: 0ch;
  }
}

